<%= form_with(model: @problem, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <%= f.label :productid, "Product ID" %>
  <%= f.text_field :productid, class: 'form-control' %>
  
  <%= f.label :productname, "Product Name"  %>
  <%= f.text_field :productname, class: 'form-control' %>

  <%= f.label :detected_at%>
  <br>
    <%= f.date_select :detected_at, class: 'form-control',placeholder: "Format: YYYYMMDD" %>
  </br>
  
  <%= f.label :description %>
  <div class="field">
    <%= f.text_area :description, placeholder: "Compose new problem..." %>
  </div> 
  
  <%= f.label :supplier, "Supplier"  %>
  <%= f.text_field :supplier, class: 'form-control' %>
  
  <%= f.label :lob, "LoB" %>
  <br>
    <%= f.select :lob, ['Component','BL'], class: 'form-control' %>
  </br>
  
  <%= f.label :status %>
  <br>
    <%= f.select :status, ['Open','Close'],class: 'form-control' %>
  </br>
  
  <%= f.label :crno, "CR Number" %>
    <%= f.text_field :crno, class: 'form-control', placeholder: "Please follow format CR-1234567" %>
  
  <%= f.label :link, "CR Link" %>
  <%= f.text_field :link, class: 'form-control', placeholder: "Please input the full CR link here" %>
  
  <%= f.submit "Submit", class: "btn btn-success" %>

<% end %> 

