<%= form_with(model: @problem, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :ProductID, "Product ID" %>
  <%= f.text_field :ProductID, class: 'form-control' %>
  
  <%= f.label :ProductName, "Product Name"  %>
  <%= f.text_field :ProductName, class: 'form-control' %>

  <%= f.label :Detected_at%>
  <br>
    <%= f.date_select :Detected_at, class: 'form-control',placeholder: "Format: YYYYMMDD" %>
  </br>
  
  <%= f.label :Description %>
  <div class="field">
    <%= f.text_area :Description, placeholder: "Compose new problem..." %>
  </div> 
  
  <%= f.label :BoL, "BoL" %>
  <br>
    <%= f.select :BoL, ['Component','BL'], class: 'form-control' %>
  </br>
  
  <%= f.label :Status %>
  <br>
    <%= f.select :Status, ['Open','Closed'],class: 'form-control' %>
  </br>
  
  <%= f.label :CRNo, "CR Number" %>
    <%= f.text_field :CRNo, class: 'form-control' %>
  
  <%= f.label :Link, "CR Link" %>
  <%= f.text_field :Link, class: 'form-control', placeholder: "Please input the full CR link here" %>
  
  <%= f.submit "Save", class: "btn btn-success" %>

<% end %> 

