<li id="problem-<%= problem.id %>">
  <span class="content">
    <span class="user"><%= link_to problem.user.name, problem.user %> | <%= problem.Detected_at.strftime("%Y-%m-%d") %> | <%= link_to "CR", problem.Link.to_s, :target => '_blank' %></span>
     <%= problem.ProductName %> | <%= problem.Description %> 
    <span class="DO">
      <% if current_user?(problem.user) %>
        <%= link_to "View", problem, method: :show %>
        <%= link_to "Edit", edit_problem_path(problem), method: :edit %>
        <%= link_to "Delete", problem, method: :delete, data: { confirm: "You sure?" } %>
      <% else %>
        <%= link_to "View", problem, method: :show %>
      <% end %> 
    </span>
  </span>
</li> 