<% provide(:title, 'Problems List') %>
<h1>Problems List</h1>

<span class="button">
  <p>
    <%= link_to "Download", problems_path(format: "csv"),class: "btn btn-success"  %>
  </p>
</span>

<table border = "1" width = 100%>
  <thead>
    <tr class="tha">
      <th class="tha">Product Name</th>
      <th>Detected at</th>
      <th>Supplier</th>
      <th>CR No.</th>
      <th>CR Link</th>
      <th class="tha">Description</th>
      <th>Status</th>
      <th colspan="3">Operation</th>
    </tr>
  </thead>
  
  <tbody>
    <% @problems.each do |problem| %>
      <tr>
        <%= will_paginate %>
        <td align=center><%= problem.ProductName %></td>
        <td align=center><%= problem.Detected_at.strftime("%Y-%m-%d")%></td>
        <td align=center><%= problem.Supplier %></td>
        <td align=center><%= problem.CRNo %></td>
        <td align=center><%= link_to "Link",problem.Link, :target => '_blank' %></td>
        <td width=50% align=left><%= problem.Description %></td>
        <td align=center><%= problem.Status %></td>
        <!--<td align=center><%= link_to "Detail", problem %></td>-->
        <!--<td align=center><%= link_to "Edit", edit_problem_path(problem) %></td>-->
        <!--<td align=center><%= link_to "Delete", problem, method: :delete, data: { confirm: "Are you sure?" } %></td>-->
        <span class="DO">
          <% if current_user?(problem.user) %>
            <td><%= link_to "Detail", problem %></td>
            <td><%= link_to "Edit", edit_problem_path(problem) %></td>
            <td><%= link_to "Delete", problem, method: :delete, data: { confirm: "You sure?" } %></td>
          <% else %>
            <td><%= link_to "Detail", problem%></td>
            <td></td>
            <td></td>
          <% end %> 
        </span>
        <%= will_paginate %>
      </tr>
    <% end %>
  </tbody>

</table>

<!--<%= will_paginate %>-->
<!--<table>-->
<!--  <ul class="problems">-->
<!--    <%= render @problems %>-->
<!--  </ul>-->
<!--</table>-->
<!--<%= will_paginate %>-->

